label[for="input"] {
    select {
        display: inline;
    }
}

#input {
    min-height: 300px;
}

#output {
    &[data-has-output="0"] {
        h1 {
            display: none;
        }
        .progress {
            display: none;
        }
        .table {
            display: none;
        }
    }

    table {
        img {
            margin-bottom: 5px;
            margin-right: 5px;
            max-width: 100px;
        }
    }

    tbody {
        td:nth-child(1),
        td:nth-child(2) {
            white-space: nowrap;
        }
    }
}

footer {
    text-align: center;
}

.footnote {
    font-size: 80%;
}

label {
    font-weight: bold;
}

.alert-warning {
    padding: 5px;
}
