label[for="input"] {
    select {
        display: inline;
    }
}

#output {
    &[data-has-output="0"] {
        h1 {
            display: none;
        }
        .progress {
            display: none;
        }
        .table {
            display: none;
        }
    }

    table {
        img {
            max-width: 100px;
        }
    }
}

footer {
    text-align: center;
}

.footnote {
    font-size: 80%;
}

label {
    font-weight: bold;
}
